.form {
    width: 500px;
    margin: 50px auto;
}

.log {
    text-align: center;
    width: 85%;

}

.logout {
    width: 15%;
    text-align: right;
}

.input, .submit, .bottom {
    width: 80%;
    margin: 0 auto;
}

.input > input {
    width: 100%;
}

.submit > input {
    float: right;
    margin: 20px -4px 10px 0;
}

.register {
    margin-top: 10px;
    text-align: center;
}

.register > b {
    color: red;
}

.clear {
    clear: both;
}

.wrap {
    width: 80%;
    margin: 50px auto;
}

.item {
    text-align: center;
    margin-top: 15px;
}

.visa-item {
    width: 33%;
    height: 25px;
    border: 1px solid black;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.addButton {
    margin-bottom: 15px;
}

.name {
    text-transform: uppercase;
}

td {
    width: 16.5%;
}

thead {
    font-weight: bold;
    background-color: silver;
}

/*tr:nth-child(even) {*/
/*background: silver;*/
/*}*/

.edit {
    color: orange;
}

button {
    width: 100px;
    height: 25px;
}

.delete {
    color: red;
}

.insert {
    color: green;
}