.form {
    width: 500px;
    margin: 50px auto;
}

.log {
    text-align: center;
}

.input, .submit, .bottom {
    width: 80%;
    margin: 0 auto;
}

.input > input {
    width: 100%;
}

.submit > input {
    float: right;
    margin: 20px -4px 10px 0;
}

.register {
    margin-top: 10px;
    text-align: center;
}

.register > b {
    color: red;
}

.clear {
    clear: both;
}

.wrap {
    width: 80%;
}

.row {
    width: 80%;
}

.wrap-item {
    box-sizing: border-box;
    width: 20%;
    height: 30%;
    border: 1px solid #000000;
    margin: 15px;
    padding: 20px;
    background: #bfc6cb;
}

.fd{
    width: 40%;
}

.sd{
    width: 55%;
}
.item {
    text-align: center;
    margin-top: 15px;

}

.visa-item{
    width: 33%;
    height: 25px;
    border: 1px solid black;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.addButton{
    margin-right: 20%;
    margin-bottom: 25px;
}