.wrap{
    width: 80%;
}

.row{
    width: 80%;
}

.item{
    width: 200px;
    height: 20px;
    border: 1px solid black;
}
.float-l{
    float: left;
}

.float-r{
    float: right;
}

.clear{
    clear: both;
}