<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>org.lv326java.two.travelagency.controllers.users.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>org.lv326java.two.travelagency.controllers.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>book</servlet-name>
        <servlet-class>org.lv326java.two.travelagency.controllers.BookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>book</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>confirm</servlet-name>
        <servlet-class>org.lv326java.two.travelagency.controllers.ConfirmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>confirm</servlet-name>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>th</servlet-name>
        <servlet-class>org.lv326java.two.travelagency.controllers.ThanksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>th</servlet-name>
        <url-pattern>/thanks</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>org.lv326java.two.travelagency.controllers.users.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reg</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userCab</servlet-name>
        <servlet-class>org.lv326java.two.travelagency.controllers.UserCabinetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userCab</servlet-name>
        <url-pattern>/userCabinet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>visaServlet</servlet-name>
        <servlet-class>org.lv326java.two.travelagency.controllers.VisaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>visaServlet</servlet-name>
        <url-pattern>/visa</url-pattern>
        <url-pattern>/addVisa</url-pattern>
    </servlet-mapping>


</web-app>